html,
body {
	position: relative;
  	overflow: hidden;
	  
	height: 100%;
	font-family: $montserrat;
	font-size: 14px;
	line-height: 1.5;
	color: $blackPrimary;
	background-color: $background;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}